    /* 移动端样式 */
    
    @media only screen and (min-width: 300px) and (max-width: 767px) {
        /* 移动轮播图样式 */
        .swiper-container {
            /* width: 600px; */
            height: 200px;
        }
        .swiper-slide>a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            background: #000000;
            /* opacity: 0.8; */
            text-align: center;
        }
        .swiper-slide>a img {
            /* width: 100%; */
            height: 200px;
            /* margin: 0 auto;
            display: block; */
        }
        .swiper-slide>a p {
            position: absolute;
            bottom: 0;
            height: 26px;
            background: #000000;
            opacity: 0.8;
            width: 100%;
            text-align: center;
            color: #ffffff;
            line-height: 26px;
            font-size: 14px;
        }
        /* 要训部分 */
        .yaoxun {
            width: 100%;
            margin: 10px auto;
            /* float: left; */
            /* margin-left: 4px; */
        }
        .yaoxun-title {
            width: 90%;
            /* height: 21px; */
            /* float: left; */
            margin: 10px auto;
            font-family: "微软雅黑";
            font-size: 12px;
            color: #656565;
            overflow: hidden;
        }
        .yaoxun-title>i {
            display: block;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            background: #9ac1e2;
            margin: 7px 0 0 5px;
            float: left;
        }
        .yaoxun-title h3 {
            font-family: "微软雅黑";
            font-size: 15px;
            color: #2377c0;
            font-weight: 800;
            text-indent: 18px;
            float: left;
            margin-top: 2px;
        }
        .yaoxun-title a {
            float: right;
            FONT-SIZE: 12px;
            COLOR: #0033CC;
            TEXT-DECORATION: none;
            margin: 3px 15px 0 0;
        }
        .yaoxun-title a:hover {
            text-decoration: underline;
        }
        .yaoxun-list {
            width: 90%;
            height: 160px;
            /* float: left; */
            margin: 0 auto;
        }
        .yaoxun-list li {
            width: 100%;
            overflow: hidden;
            height: 32px;
            line-height: 30px;
        }
        .yaoxun-list li i {
            background: #686868;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            margin: 13px 7px 0 7px;
            float: left;
        }
        .yaoxun-list li a {
            display: block;
            width: 70%;
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
            text-decoration: none;
            color: #676666;
        }
        .yaoxun-list li a:hover {
            text-decoration: underline;
        }
        .yaoxun-list li span {
            font-size: 12px;
            COLOR: #000000;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            float: right;
        }
        /* 通道 */
        .tongdao {
            width: 100%;
            overflow: hidden;
        }
        .tongdao-a {
            width: 50%;
            float: left;
            margin-bottom: 5px;
        }
        .tongdao-a img {
            display: block;
            width: 100%;
        }
        /* 公告 */
        .kuaijie-gonggao {
            width: 100%;
            margin: 5px auto;
            background: #FFF;
            overflow: hidden;
        }
        .kuaijie-left {
            width: 100%;
            margin-top: 10px;
            font-family: "微软雅黑";
            font-size: 11px;
            color: #000;
            text-align: center;
        }
        .kuaijie-left>ul {
            overflow: hidden;
            width: 100%;
        }
        .kuaijie-left>ul li {
            width: 20% !important;
            float: left;
        }
        .kuaijie-left>ul li a {
            display: block;
            width: 100% !important;
        }
        .kuaijie-left>ul li a>div {
            width: 100% !important;
            height: 60px;
            position: relative;
            border-right: #d3d3d3 1px solid;
        }
        .kuaijie-left>ul li a>div img {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -21px;
            margin-left: -21px;
            width: 42px;
        }
        .kuaijie-left>ul li a p {
            width: 100% !important;
            text-align: center;
            background: url(../images/index/kuaijie-bg.png) repeat-x;
            border-right: #ffffff 1px solid;
            font-size: 12px;
            COLOR: #000000;
            height: 27px;
            line-height: 27px;
        }
        /* 通知公告 */
        .tzgg {
            width: 90%;
            margin: 5px auto;
            font-family: "微软雅黑";
            font-size: 11px;
            color: #6c7072;
        }
        .tzgg-title {
            width: 100%;
            /* height: 21px; */
            margin-top: 5px;
            font-family: "微软雅黑";
            font-size: 12px;
            color: #656565;
            overflow: hidden;
        }
        .tzgg-title h3 {
            font-family: "微软雅黑";
            font-size: 15px;
            color: #2377c0;
            font-weight: 800;
            text-indent: 18px;
            float: left;
            margin-top: 2px;
        }
        .tzgg-title a {
            float: right;
            FONT-SIZE: 12px;
            color: #6c7072;
            font-weight: inherit;
            margin: 5px 15px 0 0;
        }
        .tzgg-title a:hover {
            text-decoration: underline;
        }
        .tzgg-list {
            width: 100%;
            /* height: 113px; */
            float: left;
            margin-top: 8px;
        }
        .tzgg-list li {
            width: 100%;
            overflow: hidden;
            height: 25px;
            line-height: 30px;
        }
        .tzgg-list li a {
            display: block;
            width: 70%;
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
            text-decoration: none;
            color: #676666;
        }
        .tzgg-list li a:hover {
            text-decoration: underline;
        }
        .tzgg-list li span {
            font-size: 12px;
            COLOR: #000000;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            float: right;
            margin-right: 10px;
        }
        /* 职能/信箱 */
        .jld {
            width: 100%;
            margin: auto;
            background: #FFF;
        }
        /* 职能 */
        .jld-1 {
            width: 100%;
            /* float: left; */
            /* background: url(../images/index/jgzn-bg.png) no-repeat; */
            overflow: hidden;
        }
        .jld-1>img {
            height: 30px;
            width: 100%;
            display: block;
            margin: 0 auto;
        }
        .jld-1 ul {
            width: 100%;
            overflow: hidden;
        }
        .jld-1 ul li {
            float: left;
            width: 33%;
            overflow: hidden;
            line-height: 30px;
            border-right: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
        }
        .jld-1 ul li a {
            display: block;
            width: 100%;
            overflow: hidden;
        }
        .jld-1 ul li i {
            float: left;
            display: block;
            width: 6px;
            height: 6px;
            background: #e9d97a;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            margin: 12px 0 0 25px;
        }
        .jld-1 ul li p {
            display: block;
            float: left;
            line-height: 30px;
            color: #c61e2d;
            margin-left: 10px;
            font-weight: bold;
        }
        /* 信箱部分 */
        .jld-3-new {
            width: 100%;
            overflow: hidden;
            margin: 10px auto;
        }
        .jld-3-new ul {
            width: 100%;
            overflow: hidden;
        }
        .jld-3-new ul li {
            float: left;
            width: 50%;
        }
        .jld-3-new ul li a {
            display: block;
            width: 100%;
        }
        .jld-3-new ul li a img {
            display: block;
            width: 100%;
        }
        /* 友情链接 */
        .link {
            width: 100%;
            overflow: hidden;
        }
        .link>div {
            height: 30px;
            width: 100%;
            background: #198cd1;
        }
        .link>div h3 {
            color: #ffffff;
            font-size: 14px;
            line-height: 30px;
            width: 95%;
            margin: 0 auto;
        }
        .link ul {
            width: 95%;
            overflow: hidden;
            margin: 5px auto;
        }
        .link ul li {
            width: 50%;
            float: left;
        }
        .link ul li a {
            width: 100%;
            line-height: 24px;
            color: #e2f2fb;
            /* font-weight: bold; */
            /* word-break: keep-all; */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #676666;
        }
    }
    /* PC端显示样式判断 */
    
    @media(min-width: 768px) {
        .new-yaoxun {
            width: 1000px;
            height: 243px;
            margin: auto;
            background: #FFF;
            overflow: hidden;
        }
        .news {
            width: 355px;
            height: 243px;
            float: left;
        }
        /* 轮播图部分样式 */
        .newsPic {
            width: 350px;
            height: 250px;
            position: relative;
        }
        .newsPic a.picPage {
            width: 18px;
            height: 18px;
            text-align: center;
            line-height: 18px;
            text-decoration: none;
            display: block;
            background: #000;
            color: #fff;
            position: absolute;
            bottom: 27px;
            z-index: 2;
        }
        .newsPic .picMin01 .picPage01,
        .newsPic .picMin02 .picPage02,
        .newsPic .picMin03 .picPage03,
        .newsPic .picMin04 .picPage04,
        .newsPic .picMin05 .picPage05,
        .newsPic .picMin06 .picPage06,
        .newsPic .picMin07 .picPage07 {
            background: #f00;
        }
        .picPage01 {
            right: 120px;
        }
        .picPage02 {
            right: 100px;
        }
        .picPage03 {
            right: 80px;
        }
        .picPage04 {
            right: 60px;
        }
        .picPage05 {
            right: 40px;
        }
        .picPage06 {
            right: 20px;
        }
        .picPage07 {
            right: 0px;
        }
        #newsPic div {
            width: 100%;
            display: none;
            position: absolute;
            top: 3px;
            left: 3px;
            z-index: 1;
        }
        .newsPic div span {
            position: absolute;
            bottom: -21px;
            left: 0;
            text-align: center;
            font-weight: bold;
            width: 100%;
            height: 25px;
            line-height: 25px;
            display: block;
            background-color: rgb(255, 216, 165);
            font-size: 12px;
            color: blue;
        }
        .newsPic div span:hover {
            text-decoration: underline;
        }
        .picMin01 div#picMin_a,
        .picMin02 div#picMin_b,
        .picMin03 div#picMin_c,
        .picMin04 div#picMin_d,
        .picMin05 div#picMin_e,
        .picMin06 div#picMin_f,
        .picMin07 div#picMin_g {
            display: block;
        }
        #imgTitle {
            filter: ALPHA(opacity=70);
            left: 0px;
            overflow: hidden;
            position: relative;
            text-align: left;
        }
        #imgTitle {
            top: -51px !important;
        }
        #imgTitle_up {
            left: 0px;
            height: 1px;
            text-align: left;
        }
        #imgTitle_down {
            left: 0px;
            text-align: right;
        }
        .imgClass {
            border-right: #fff 1px solid;
            border-top: #fff 1px solid;
            border-left: #fff 1px solid;
            border-bottom: #fff 1px solid;
        }
        #txtFrom {
            vertical-align: middle;
            padding-top: 2px;
            text-align: center;
            line-height: 25px !important;
            padding-top: 0 !important;
        }
        #txtFrom a {
            FONT-SIZE: 12px;
            COLOR: #0033CC;
            TEXT-DECORATION: none;
        }
        #txtFrom a:hover {
            TEXT-DECORATION: underline;
        }
        .button {
            padding-right: 7px;
            padding-left: 7px;
            background: #7b7b63;
            padding-bottom: 2px;
            margin: 0px;
            font: bold 9px sans-serif;
            border-left: #fff 1px solid;
            padding-top: 20px;
            text-decoration: none;
        }
        A.button {
            color: #ffffff;
            font-family: sans-serif;
            background-color: #000000;
            text-decoration: none;
        }
        A.button:link {
            color: #ffffff;
            font-family: sans-serif;
            background-color: #000000;
            text-decoration: none;
        }
        A.button:visited {
            color: #000000;
            font-family: sans-serif;
            background-color: #000000;
            text-decoration: none;
        }
        A.button:hover {
            background: #fff;
            color: #000000;
            font-family: sans-serif;
            text-decoration: none;
        }
        .buttonDiv {
            background: #000000;
            float: left;
            vertical-align: middle;
            width: 21px;
            height: 1px;
            text-align: center;
        }
        .trans {
            filter: progid: DXImageTransform.Microsoft.Alpha(startX=0, startY=0, finishX=100, finishY=100, style=1, opacity=0, finishOpacity=40);
            width: 90px;
            background-color: #000;
        }
        .linkblack {
            font-size: 12px;
            color: #666666;
            text-decoration: none;
        }
        .textStyle {
            background: #7b7b63;
        }
        /* 轮播图部分样式结束 */
        /* 要训部分 */
        .yaoxun {
            width: 421px;
            height: 243px;
            float: left;
            margin-left: 4px;
        }
        .yaoxun-title {
            width: 383px;
            height: 21px;
            float: left;
            margin-left: 21px;
            margin-top: 20px;
            font-family: "微软雅黑";
            font-size: 12px;
            color: #656565;
            overflow: hidden;
        }
        .yaoxun-title>i {
            display: block;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            background: #9ac1e2;
            margin: 7px 0 0 5px;
            float: left;
        }
        .yaoxun-title h3 {
            font-family: "微软雅黑";
            font-size: 15px;
            color: #2377c0;
            font-weight: 800;
            text-indent: 18px;
            float: left;
            /* margin-top: 8px; */
        }
        .yaoxun-title a {
            float: right;
            FONT-SIZE: 12px;
            COLOR: #0033CC;
            TEXT-DECORATION: none;
            margin: 3px 15px 0 0;
        }
        .yaoxun-title a:hover {
            text-decoration: underline;
        }
        .yaoxun-list {
            width: 383px;
            height: 160px;
            float: left;
            margin-left: 21px;
            margin-top: 14px;
        }
        .yaoxun-list li {
            width: 100%;
            overflow: hidden;
            height: 32px;
            line-height: 30px;
        }
        .yaoxun-list li i {
            background: #686868;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            margin: 13px 7px 0 7px;
            float: left;
        }
        .yaoxun-list li a {
            display: block;
            width: 275px;
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
            text-decoration: none;
            color: #676666;
        }
        .yaoxun-list li a:hover {
            text-decoration: underline;
        }
        .yaoxun-list li span {
            font-size: 9pt;
            COLOR: #000000;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            float: right;
            margin-right: 10px;
        }
        /* 通道 */
        .tongdao {
            width: 216px;
            height: 243px;
            float: right;
        }
        .tongdao-a {
            width: 216px;
            height: 55px;
            float: right;
            margin-bottom: 7px;
        }
        .tongdao-a img {
            display: block;
            width: 216px;
        }
        /* 公告 */
        .kuaijie-gonggao {
            width: 1000px;
            height: 120px;
            margin: auto;
            margin-top: 5px;
            background: #FFF;
        }
        .kuaijie-left {
            width: 625px;
            height: 87px;
            float: left;
            margin-top: 20px;
            font-family: "微软雅黑";
            font-size: 11px;
            color: #000;
            text-align: center;
        }
        .kuaijie-left>ul {
            overflow: hidden;
            width: 100%;
        }
        .kuaijie-left>ul li {
            width: 117px;
            float: left;
        }
        .kuaijie-left>ul li a {
            display: block;
            width: 117px;
            padding-right: 1px;
        }
        .kuaijie-left>ul li a>div {
            height: 60px;
            position: relative;
            border-right: #d3d3d3 1px solid;
            padding-right: 1px;
        }
        .kuaijie-left>ul li a>div img {
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -21px;
            width: 42px;
        }
        .kuaijie-left>ul li a p {
            width: 116px;
            text-align: center;
            background: url(../images/index/kuaijie-bg.png) repeat-x;
            border-right: #ffffff 1px solid;
            font-size: 9pt;
            COLOR: #000000;
            height: 27px;
            line-height: 27px;
        }
        /* 通知公告 */
        .tzgg {
            width: 334px;
            height: 113px;
            float: right;
            margin-right: 7px;
            font-family: "微软雅黑";
            font-size: 11px;
            color: #6c7072;
        }
        .tzgg-title {
            width: 334px;
            height: 21px;
            /* float: left;
    margin-left: 21px; */
            margin-top: 5px;
            font-family: "微软雅黑";
            font-size: 12px;
            color: #656565;
            overflow: hidden;
        }
        .tzgg-title h3 {
            font-family: "微软雅黑";
            font-size: 15px;
            color: #2377c0;
            font-weight: 800;
            text-indent: 18px;
            float: left;
            /* margin-top: 8px; */
        }
        .tzgg-title a {
            float: right;
            FONT-SIZE: 12px;
            color: #6c7072;
            font-weight: inherit;
            margin: 3px 43px 0 0;
        }
        .tzgg-title a:hover {
            text-decoration: underline;
        }
        .tzgg-list {
            width: 334px;
            /* height: 113px; */
            float: left;
            margin-top: 8px;
        }
        .tzgg-list li {
            width: 100%;
            overflow: hidden;
            height: 25px;
            line-height: 30px;
        }
        .tzgg-list li a {
            display: block;
            width: 240px;
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
            text-decoration: none;
            color: #676666;
        }
        .tzgg-list li a:hover {
            text-decoration: underline;
        }
        .tzgg-list li span {
            font-size: 9pt;
            COLOR: #000000;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            float: right;
            margin-right: 10px;
        }
        /* 职能/信箱 */
        .jld {
            width: 1000px;
            height: 97px;
            margin: auto;
            background: #FFF;
        }
        /* 职能 */
        .jld-1 {
            width: 350px;
            height: 97px;
            float: left;
            background: url(../images/index/jgzn-bg.png) no-repeat;
        }
        .jld-1 ul {
            width: 100%;
            overflow: hidden;
            margin-top: 30px;
        }
        .jld-1 ul li {
            float: left;
            width: 33%;
            overflow: hidden;
            line-height: 30px;
        }
        .jld-1 ul li a {
            display: block;
            width: 100%;
            overflow: hidden;
        }
        .jld-1 ul li i {
            float: left;
            display: block;
            width: 6px;
            height: 6px;
            background: #e9d97a;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            margin: 12px 0 0 25px;
        }
        .jld-1 ul li p {
            display: block;
            float: left;
            line-height: 30px;
            color: #c61e2d;
            margin-left: 10px;
            font-weight: bold;
        }
        /* 信箱部分 */
        .jld-3-new {
            width: 643px;
            height: 97px;
            float: right;
        }
        .jld-3-new ul {
            width: 100%;
            overflow: hidden;
        }
        .jld-3-new ul li {
            float: left;
            width: 25%;
        }
        .jld-3-new ul li a {
            display: block;
            width: 100%;
        }
        .jld-3-new ul li a img {
            display: block;
            width: 100%;
        }
        /* 友情链接 */
        .link {
            width: 1000px;
            height: 51px;
            margin: auto;
            margin-top: 0px;
            background: url(../images/index/link-bn.jpg) no-repeat;
            overflow: hidden;
        }
        .link ul {
            width: 740px;
            overflow: hidden;
            margin-left: 180px;
            margin-top: 1px;
        }
        .link ul li {
            float: left;
            width: 33%;
        }
        .link ul li a {
            /* float: left; */
            width: 100%;
            line-height: 24px;
            color: #e2f2fb;
            font-weight: bold;
        }
        .link ul li a:hover {
            text-decoration: none;
            color: #ec8400;
            font-weight: inherit;
        }
    }